<ion-content class="ion-padding">
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Alun-alun Tangerang</ion-label>
    </ion-item>
    <img src="https://cdn2.tstatic.net/jakarta/foto/bank/images/jalan-windu-raya_20180817_103454.jpg" />
  
    <ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="heart"></ion-icon>
            12 likes
          </button>
          &nbsp;
          <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            4 comments
          </button>
        </ion-col>
      </ion-row>
      <h2>Hendro Kartiko</h2>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Alun-alun Tangerang</ion-label>
    </ion-item>
    <img src="https://cdn2.tstatic.net/jakarta/foto/bank/images/jalan-windu-raya_20180817_103454.jpg" />
  
    <ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="heart"></ion-icon>
            12 likes
          </button>
          &nbsp;
          <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            4 comments
          </button>
        </ion-col>
      </ion-row>
      <h2>Hendro Kartiko</h2>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
</ion-content>
